.thumb {
    height: 150px;
    padding: 5px;
}

#files, #files2{
    margin-top: 5px;
    border: 1px solid #D4D4D4;
}

#msg{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}
#msg .alert{
    margin: 0 !important;
    padding: 0 !important;
    padding: 0 0 10px 10px !important;
}
#msg .alert .close{
    padding-right: 7px;
}
td img.product{
    max-width: 50px;
}

a.admin-data-control{
    margin-right: 7px;
    font-size: 18px;
}

#imageList span, span.main{
    display: block;
    margin-left: -20px;
    margin-bottom: -20px;
    float: left;
    background: white;
    border: 1px solid #333;
    color: black;
}
span.main{
    float: right;
}
#imageList{
    margin-top: 40px;
}